:root{
    --top-bottom: #1F2937;
    --header-link-quote-bg: #E5E7EB;
    --header-logo: #F9FAF8;
    --button: #3882f6;
    --subtitle-quote: #1F2937;

}


body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "roboto", sans-serif;
    flex-shrink: 0;
}


/* --- header --- */

.header,
.body-content{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: space-between;
}

.header {
    background: url("https://images.unsplash.com/photo-1421789665209-c9b2a435e3dc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 0 20rem;
    align-items: center;
}

.head {
    width: 1053px;
    gap: 120px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: space-between;
}

.upp{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1053px;
    flex-shrink: 0;
    align-self: center;
}

.header-logo {
    color: var(--header-logo);
    align-items: center;
    font-size: 24px;
    font-weight: 900;
}

a {
    text-decoration: none;
    color: var(--header-logo);   
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
    color: var(--header-link-quote-bg);
    font-size: 18px;
}

.header-content {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;    
    margin-bottom: 150px;
    gap: 100px;
}

.left-side {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 500px;
    align-self: flex-start;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
    color: var(--header-logo);
}

.hero-second {
    font-size: 18px;
    color: var(--header-link-quote-bg);
}

.btn-upper {
    background: var(--button);
    padding: 12px 40px;
    border: transparent;
    font: 18px;
    border-radius: 8px;
    color: var(--header-logo);
    font-weight: 600;
    margin-top: 15px;
}

.img-place {
    width: 550px;
    height: 240px;
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--header-link-quote-bg);
}

/* --- contents --- */

.body-content {
    background: var(--header-logo);
    flex: auto;
}


/* --- upper content 'information' --- */

.upper-content {
    padding-top: 60px;
    display: flex;
    flex-flow: column nowrap;
    height: 500px;
}

.subtitle {
    font-size: 36px;
    color: var(--subtitle-quote);
    display: flex;  
    justify-content: center;
    font-weight: 900;
}

.frames {
    display: flex;
    gap: 40px;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
}

.grid {
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    flex-basis: 200px;
}

.frame1,
.frame2,
.frame3,
.frame4 {
    width: 150px;
    height: 150px;
    border: 3px solid var(--button);
    border-radius: 10px;
    margin-bottom: 10px;
}

.frame1 {
    background: url("https://images.unsplash.com/photo-1614680376408-81e91ffe3db7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8aWNvbnN8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
    background-size: 385px 260px;
    background-position: center;
}

.frame2 {
    background: url("https://images.unsplash.com/photo-1611605698335-8b1569810432?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80");
    background-size: 385px 260px;
    background-position: center;
}

.frame3 {
    background: url("https://images.unsplash.com/photo-1611262588024-d12430b98920?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80");
    background-size: 385px 260px;
    background-position: center;
}

.frame4 {
    background: url("https://images.unsplash.com/photo-1611162617474-5b21e879e113?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80");
    background-size: 385px 260px;
    background-position: center;
}

.text {
    text-align: center;
}


    /* --- middle content 'quote' --- */


.middle-content {
    background: url("https://images.unsplash.com/photo-1502657877623-f66bf489d236?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 100px 25em 100px 25em;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: space-between;
    width: 853px;
    flex-shrink: 0;
}

.quote {
    color: rgb(199, 199, 199);
    font-size: 36px;
    font-weight: 100;
    width: 100%;
    height: auto;
    flex-shrink: 0;
    font-family: monospace;
}

.author {
    font-size: 28px;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
    color: rgb(0, 0, 0);
    display: flex;
    align-self: flex-end;
}

    /* --- lower content 'sign up' */

.lower-content {
    padding: 30px 20rem;
    display: flex;
    height: 300px;
    align-items: center;
    justify-content: center;
}

.subcontent {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;    
    background: var(--button);
    border-radius: 10px;
    height: 33%;
    width: 100%;
    padding: 1.3em 6em;
    gap: 100px;
    flex-basis: 1053px;
}

.caption-call {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: space-between;
}

.caption-call,
.text-call {
    color: var(--header-logo);
}

.btn-lower {
    background: var(--button);
    padding: 12px 40px;
    border: 2px solid white;
    font: 18px;
    border-radius: 8px;
    color: var(--header-logo);
    font-weight: 600;
}

.btn-lower:hover,
.btn-upper:hover, 
.btn-lower:active,
.btn-upper:active {
    background: rgb(255, 208, 0);
    color: black;
}

.btn-lower,
.btn-upper {
    flex-shrink: 0;
} 

/* --- footer --- */

.footer {
    padding-bottom: 30px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--header-logo);
    background: var(--top-bottom);
}


